Source: mikutter
Section: web
Priority: optional
Maintainer: Kimura Youichi <kim.upsilon@bucyou.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://mikutter.hachune.net/
#Vcs-Git: git://git.debian.org/collab-maint/mikutter.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mikutter.git;a=summary

Package: mikutter
Architecture: all
Depends: ${misc:Depends}, ruby, ruby1.9.1 (>= 1.9.2), ruby-gtk2, ruby-bsearch, ruby-hmac, ruby-addressable, ruby-oauth, ruby-json
Description: simply, powerfully, and modifully twitter client
 This client has more than 3939 features by default.
 .
  * Multi-pane
  * Show reply, threads, followers and followees, profile, list
    and user activities
  * Search tweets
