#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_install:
	dh_install -Xruby-bsearch -Xhmac -Xoauth.rb -Xjson.rb
	# fix permissions
	find $(CURDIR)/debian/mikutter/usr/lib/mikutter/core/ -type f | xargs chmod -x

